/*style the font*/
body {
  font-family: 'Lora', serif;
  color: black; 
}



@media (max-width: 990px) {
  h1, 
  h2,
  h4 {
    text-align: center;
  }

  img {
    margin: 0 auto;
  }
}


/*Header*/


/*give space for the logo from the top*/
.move-lower {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.move-much-lower {
  padding-top: 50px;
}


/*change dr. freeze font size*/
.title-super {
  font-size: 30px;
}


/*class to make the text thick for Dr. Freeze*/
.text-thick {
  font-weight: 300; /*thicker version of the google font*/
}


/*make the line thicker*/
hr {
  background-color: #75deec;
  height: 4px;
  margin-top: 0px;
  padding-top: 0px;
}


/*give different framing for the picture*/
.framing {
  -webkit-border-top-left-radius: 40px;
  -webkit-border-bottom-right-radius: 40px;
  -moz-border-radius-topleft: 40px;
  -moz-border-radius-bottomright: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-left: 100px;
}

 /*Featured work section/


/*give space before the text featured ice cream*/  
.featured-lower {
  padding-top: 20px;
}


/*class to make the text muted for Featured ice cream*/
.text-muted {
  font-weight: 400; /*thinner version of the google font*/
  color: #3fa2da;
}

.move-right {
  padding-left: 150px;
}



#centeredmenu {
   clear:both;
   float:left;
   margin:0;
   padding:0;
   width:100%;
   font-family:Verdana, Geneva, sans-serif; /* Menu font */
   font-size:15px; /* Menu text size */
   z-index:1000; /* This makes the dropdown menus appear above the page content below */
   position:relative;
}

/* Top menu items */
#centeredmenu ul {
   margin:0;
   padding:0;
   list-style:none;
   float:right;
   position:relative;
   right:50%;
}
#centeredmenu ul li {
   margin:0 0 0 1px;
   padding:0;
   float:left;
   position:relative;
   left:50%;
   top:1px;
}
#centeredmenu ul li a {
   display:block;
   margin:0;
   padding:1em 1em 1em;
   font-size:1em;
   text-decoration:none;
   color:black;
   font-weight:bold;
}

#centeredmenu ul li a:hover {
   background:#36f; /* Top menu items background colour */
   color:black;
}
#centeredmenu ul li:hover a,
#centeredmenu ul li.hover a { /* This line is required for IE 6 and below */
   background:#C5BBBB; /* Top menu items background colour */
   color:black;
}

/* Submenu items */
#centeredmenu ul ul {
   display:none; /* Sub menus are hiden by default */
   position:absolute;
   left:0;
   right:auto; /*resets the right:50% on the parent ul */
   width:10em; /* width of the drop-down menus */
}
#centeredmenu ul ul li {
   left:auto;  /*resets the left:50% on the parent li */
   margin:0; /* Reset the 1px margin from the top menu */
   clear:left;
   width:100%;
}
#centeredmenu ul ul li a,
#centeredmenu ul li.active li a,
#centeredmenu ul li:hover ul li a,
#centeredmenu ul li.hover ul li a { /* This line is required for IE 6 and below */
   font-size:.8em;
   font-weight:normal; /* resets the bold set for the top level menu items */

}
#centeredmenu ul ul li a:hover,
#centeredmenu ul li.active ul li a:hover,
#centeredmenu ul li:hover ul li a:hover,
#centeredmenu ul li.hover ul li a:hover { /* This line is required for IE 6 and below */
   background:#AED9F2; /* Sub menu items background colour */
   color:black;
}

/* Flip the last submenu so it stays within the page */
#centeredmenu ul ul.last {
   left:auto; /* reset left:0; value */
   right:0; /* Set right value instead */
}

/* Make the sub menus appear on hover */
#centeredmenu ul li:hover ul,
#centeredmenu ul li.hover ul { /* This line is required for IE 6 and below */
   display:block; /* Show the sub menus */
}
.space-below {
  padding-bottom: 50px;
}

.to-the-left {
  padding-left: 0px;
}
	
.text-centered img {
    margin-left: 70px;
  }

.change-font {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: black;
}

.text-larger {
  font-size: 25px;
}

.border {
    border-style: dashed;
    border-color: #3fa2da; 
    padding-left: 20px;
    padding-bottom: 20px;
}

footer {
  display: block;
  background: #3fa2da;
  margin-top: 50px;
  clear: right; /*clear property causes footer element to be displayed without floated elements to its right*/
  }
footer p {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: white;
  }

.picture-centered {
  text-align: center;
}

.pic-centered {
  padding-left: 150px;
}	

.text-centered {
  text-align: center;
}